

    <h1>Welcome to my new selection of books</h1>
<div> <%= link_to 'Enter a new book', new_kitab_path %></div>
<% @kitabs.reverse.each do |book | %>
    <div>
      <h1>Book name: <%= book.name %></h1>
      <h1> book#: <%= book.id %> </h1>
      <h1> Description: <%= book.description %></h1>
      <h1> Price: <%= book.cost %></h1>
    </div>
    <hr />
    <% end %>