<h1>Welcome to my new selection of books</h1>

<h1>Enter your book details</h1>
<div class="kitab_box">
  <%= simple_form_for @kitab do |f| %>
      <%= f.input :name %>
      <br />
      <%= f.input :description %>
      <br />
      <%= f.input :cost %>
      <br />
      <%= f.submit 'Create' %>
  <% end %>
</div>

<div> <%= link_to 'Homepage', root_path %> </div>
